:root {
  --font-for-headings: Playfair Display;
  --font-for-main-text:  Poppins;
  --brand-color-bright:#6C63FF;
  --brand-color-light:#F9F7FE;
  
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-for-headings);
}
p{
  font-family:var(--font-for-main-text);
  font-size:16px;
}

/* HOME PAGE */

/* nav bar */
.logo{
  max-height: 40px;
}
.logo_small{
  max-height: 40px;
}
nav{
  padding: 20px 0px;
}
nav ul{
  margin-bottom: 0;
  padding-left: 0;
  line-height: 41px;
  font-family:var(--font-for-main-text);
}
nav li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: #212529;
}

nav li.active a, nav a:hover{
  color: var(--brand-color-bright);
  text-decoration: none;
}

/* main section */
.hero_h1{
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}

.hero_p{
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: bolder;
line-height: normal;
}
.hero_h2{
text-align: center;
font-family: var(--font-for-main-text);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 24px;
}

.hero_btn{
width: 200px;
padding: 18px 30px;
margin-top: 49px;
gap: 10px;
border-radius: 4px ;
border-style: none;
background:var(--brand-color-bright);
color: #FFF;
font-family:var(--font-for-main-text) ;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.hero_btn:hover{
  color: #212529 ;
}

.description_btn{
display: flex;
width: 200px;
padding: 18px 30px;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 50px;
border-radius: 4px;
border: 2px solid var(--brand-color-bright);
color: var(--brand-color-bright);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: #FFF;
}


.hero{
  background-color: var(--brand-color-light);
  padding: 160px 20px;
}
.project_h2{
font-size: 64px;
font-weight: 700;
line-height: normal;
margin-top: 92px;
}


/* footer */
.footer{
  margin: 120px 440px 50px;
}
.email{
  font-size: 24px;
  color: #212529;
  text-decoration: none;
}
.footer i{
  color: var(--brand-color-bright);
  font-size: 18px;
  margin: 10px;
  
}
.social_icons a{
  text-decoration: none;
  background-color:var(--brand-color-light) ;
  padding: 10px 3px;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
  .social_icons a:hover{
  color: white;
  background-color:var(--brand-color-bright) ;
}


/* About me page */

.about_myself{
  margin-top: 150px;
  margin-left: 140px;
}

.about_myself h1{
font-size: 57px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 29px;

}

.about_myself h2{
font-family:var(--font-for-main-text);
color: #272142;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 28px;
}
.about_myself_p{
  color: (39, 33, 66, 0.7);
}

.photo{
margin-top:150px ;
margin-left: 80px;
width:560px;
border-radius: 20px;
}
.container.about{
  margin-left: 0;
  padding: 0 0 40px 0;
}

.work_inquiry{
  background-color:  var(--brand-color-light);
  margin-top: 200px;
  padding: 50px 120px;
}

.work_inquiry h2{
  font-size: 48px;
}


/* work page */

.subheading_h2{
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 144px;
  font-size: 64px;
}

.container.work{
  margin: 0;
  width: 100%;
}


/* RESPONSIVNESS */

@media (max-width:500px) {
  nav a{
    font-size: 12px;
  }

  /* home page */

  .description_btn{
    margin: 0 auto;
  }
  .project_description{
    text-align: center;
  }
  .project_h2{
    margin: 0;
    font-size: 42px;
  }
  
  .hero_h1{
    font-size: 70px;
  }
  .hero_p{
    font-size: 24px;
}
.hero_h2{
  font-size: 16px;
  }

  .hero{
    padding: 100px 20px;
  }
  

  /* about me page */

  .about_myself{
    margin: 0px;
    margin-top: 40px;
    text-align: center;
  }
  .about_myself h1{
    font-size: 45px;
  }
  .about_myself_p{
    font-size: 14px;
  }
  
  .photo{
    margin-top: 50px;
    margin-left: 0;
 
  }

  .work_inquiry{
    margin-top: 50px;
    display: block;
  }

  .work_inquiry h2{
    text-align: center;
  }
  .work_inquiry p{
    text-align: center;
  }

  .col-md-4{
  text-align: center;
  }
  .footer{
    margin: 0px;
  }

}


