:root {
  --font-for-headings: Playfair Display;
  --font-for-main-text:  Poppins;
  --brand-color-bright:#6C63FF;
  --brand-color-light:#F9F7FE;
  
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-for-headings);
}
p{
  font-family:var(--font-for-main-text);
  font-size:16px;
}

/* HOME PAGE */
nav{
  padding: 20px 0px;}

nav .logo{
  max-height: 40px;
}
nav .logo_small{
  max-height: 40px;
}

nav ul{
  margin-bottom: 0;
  padding-left: 0;
  line-height: 41px;
  font-family:var(--font-for-main-text);
}
nav li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: #212529;
}

nav li.active a, nav a:hover{
  color: var(--brand-color-bright);
  text-decoration: none;
}

/* main section */

section {
  background-color: var(--brand-color-light);
  padding: 160px 20px;
}
section h1{
font-size: 96px;
font-weight: 700;
text-align: center;
}

section p{
text-align: center;
font-size: 36px;
font-weight: bolder;
}

section h2{
text-align: center;
font-family: var(--font-for-main-text);
font-size: 24px;
font-weight: 400;
margin-top: 24px;
}

.brand_btn{
width: 200px;
padding: 18px 30px;
margin-top: 49px;
gap: 10px;
border-radius: 4px ;
border-style: none;
background:var(--brand-color-bright);
color: #FFF;
font-family:var(--font-for-main-text) ;
font-size: 18px;
font-weight: 500;
}

.brand_btn:hover{
  color: #212529 ;
}

.brand_btn_calm{
display: flex;
width: 200px;
padding: 18px 30px;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 50px;
border-radius: 4px;
border: 2px solid var(--brand-color-bright);
color: var(--brand-color-bright);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
background-color: #FFF;
}

.content h2{
font-size: 64px;
font-weight: 700;
line-height: normal;
margin-top: 92px;
}

footer{
  margin: 120px 440px 50px;
}
footer .email{
  font-size: 24px;
  color: #212529;
  text-decoration: none;
  font-family:var(--font-for-main-text);
}
 footer .social_icons a{
  color: var(--brand-color-bright);
  font-size: 18px;
  margin: 0px 4px;
  padding: 10px 13px;
  text-decoration: none;
  background-color:var(--brand-color-light);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}


 footer .social_icons a:hover {
  color: white;
  background-color:var(--brand-color-bright) ;
}


/* About me page */

.about_me{
  margin-top: 150px;
  margin-left: 140px;
}

.about_me h1{
font-size: 57px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 29px;

}

.about_me h2{
font-family:var(--font-for-main-text);
color: #272142;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 28px;
}
.about_me p{
  color: (39, 33, 66, 0.7);
}

.about_me .photo{
width:560px;
border-radius: 20px;
}
.about_me{
  margin-left: 0;
  padding: 0 0 40px 0;
}

.work_inquiry{
  background-color:  var(--brand-color-light);
  margin-top: 200px;
  padding: 50px 120px;
}

.work_inquiry h2{
  font-size: 48px;
}


/* work page */

.subheading_h2{
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 144px;
  font-size: 64px;
}

.container.work{
  margin: 0;
  width: 100%;
}


/* RESPONSIVNESS */

@media (max-width:500px) {
  nav a{
    font-size: 12px;
  }

  /* home page */

  .brand_btn_calm{
    margin: 0 auto;
  }
  
  .content h2{
    text-align: center;
    font-size: 40px;
  }
  
 section h1{
  font-size: 70px;
  }
 section p{
  font-size: 20px;
}
section h2{
  font-size: 20px;
  }

  section{
    padding: 100px 0 50px 0;
  }

  .brand_btn{
    font-size: 16px;
    margin-top: 80px;
    }
  

  /* about me page */

  .about_myself{
    margin: 0px;
    margin-top: 40px;
    text-align: center;
  }
  .about_myself h1{
    font-size: 45px;
  }
  .about_myself_p{
    font-size: 14px;
  }
  
  .photo{
    margin-top: 50px;
    margin-left: 0;
 
  }

  
  .work_inquiry{
    margin-top: 50px;
    display: block;
  }

  .work_inquiry h2{
    text-align: center;
    font-size: 40px;
  }
  .work_inquiry p{
    text-align: center;
  }

  .col-md-4{
  text-align: center;
  }
  .footer{
    margin: 30px 0 40px 0;
  }
  footer .email{
    font-size: 16px;
  }

}


